services:
  quizory:
    container_name: quizory
    image: sasalatart/quizory-api:latest
    environment:
      - OTEL_SERVICE_NAME=quizory-api
    env_file:
      - .env.quizory
    ports:
      - 8080:8080
    depends_on:
      - quizory_postgres
      - caddy
    networks:
      - quizory
      - telemetry
    restart: always

  quizory_postgres:
    container_name: quizory_postgres
    image: postgres:16
    volumes:
      - postgres-data:/var/lib/postgresql/data
    env_file:
      - .env.quizory
    ports:
      - 5432:5432
    networks:
      - quizory
    restart: always

  caddy:
    container_name: caddy
    image: caddy:2.7.6
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./volumes/caddy/Caddyfile:/etc/caddy/Caddyfile
      - caddy-data:/data
      - caddy-config:/config
    networks:
      - quizory
      - telemetry

  watchtower:
    container_name: watchtower
    image: containrrr/watchtower:1.7.1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_POLL_INTERVAL=300
    restart: always
    networks:
      - quizory

networks:
  quizory:
    driver: bridge

volumes:
  caddy-data:
  caddy-config:
  postgres-data:

include:
  - path: ./docker-compose.telemetry.yml
