name: build-and-test
on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  build-and-test:
    name: build-and-test
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_DB: postgres
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5433:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      DB_URL: postgres://postgres:postgres@localhost:5433/postgres?sslmode=disable

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 8

      - uses: actions/setup-node@v4
        with:
          node-version: '20.10.0'
          cache: 'pnpm'
          cache-dependency-path: client/pnpm-lock.yaml

      - name: Check for dirty git
        run: |
          make install
          make migrate
          make codegen
          git diff --exit-code

      - name: Build
        run: make build

      - name: Test
        run: make test

  build-docker:
    name: build-docker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build
        uses: docker/build-push-action@v5
        with:
          push: false
          tags: sasalatart/quizory-api:${{ github.sha }}
          file: ./infra/docker/Dockerfile
